NEXT_PUBLIC_SUPABASE_URL=https://ruzsmxzxeqqcbeycfoma.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_yCdwTOplt0Xc8cBL7qA31g_2VchA8lU
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
REPORT_SENDER_EMAIL=info@kolaretorp.se
